*{
    margin: 0px;
    padding: 0px;
    
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #312D4F;
}
.header{
    background-color: #312D4F;
  }

.sec1{
    background-color: #312D4F;
}
ul > li {
    font-size: larger;
    padding: 0px 20px;
}
.heading{
    white-space: nowrap;
}


.name{
    /* padding-left: 200em; */
    color:aliceblue ;
}

.my-name{
    color: #37E4D0;
}
.illustration{
    height: 10em;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-img{
    height: 35rem;
    border-radius: 30px;
}
.card-section{
   display: flex;
   justify-content: center;
}
.card-port{
    display: flex;
    justify-content: center;
}

footer{
    background-color: black;
}
.foot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin: 0px 10px;
    width: 25px;
}

.logo-top{
    margin: 0px 10px;
    width: 25px;
}
.nav-logo{
    display: flex;
    justify-content: center;
}

button{
    background-color: #FF6224;
    border: none;
    border-radius: 8px;
    color:aliceblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);  
}

button:hover {
    box-shadow: 0 0 20px rgba(56, 49, 49, 0.4); /* Increase the box shadow on hover */
}
